@media screen and (max-width:600px){
    .ld{
        display: none;
    }
    #centro{
        display: inline-block;
        margin-top: -35px;
        text-align: center;
        position: relative;
    }
    .opnivel{
        padding:0px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .opnivel:hover{
        margin-top: 9px;
        transition: 0.5s;
        
        
    }
    #centrob,#centrov,#centroc{
        display:none;
        width: 66vw;
        border-top: none;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        padding-top: 20px;
        border-width: 4px;
        text-align: center;
        position: relative;
    }
    
}
